<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNg_psNLxy0eEckTpd4DzewtiMhALytD4</string>
	<key>GCM_SENDER_ID</key>
	<string>806465382207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firetodo</string>
	<key>PROJECT_ID</key>
	<string>firetodo-bbc49</string>
	<key>STORAGE_BUCKET</key>
	<string>firetodo-bbc49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806465382207:ios:95e093b8fcdf72d91c958a</string>
</dict>
</plist>